/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    padding: 5%;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

input[type="tel"],
input[type="email"],
input[type="text"],
input[type="date"],
input[type="time"] {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
}

/* Style for the input group container */
.input-group {
    display: flex;        /* Enable flexbox */
    justify-content: space-between;  /* Space the items apart */
    gap: 10px;  /* Space between the items */
}

/* Adjust width for state and zip code inside the input group */
.input-group select {
    height: 40px;
    width: 48%
}
.input-group input[type="text"] {
    width: 48%;  /* Slightly less than 50% to account for any potential box-sizing issues */
}

.input-group select option[value=""] {
    color: #aaa !important;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
    body {
        padding: 2%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    form {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 1025px) {
    form {
        width: 60%;
        margin: 0 auto;
    }
}
